<div>
    <h2>About the Angular Crash Course</h2>
    <h3>Hello parameter {{ param }}</h3>
    <h3>Course {{ queryParam }}</h3>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, vero cumque sunt placeat suscipit harum. Animi, hic suscipit nesciunt debitis iure, praesentium error id aliquam ea enim accusamus assumenda earum.</p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, vero cumque sunt placeat suscipit harum. Animi, hic suscipit nesciunt debitis iure, praesentium error id aliquam ea enim accusamus assumenda earum.</p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, vero cumque sunt placeat suscipit harum. Animi, hic suscipit nesciunt debitis iure, praesentium error id aliquam ea enim accusamus assumenda earum.</p>
</div>