<div class="form-container">
    <h2>Simple Form</h2>
    <form (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td>
                    <label for="name">Name :</label>
                </td>
                <td>
                    <input type="text" id="name" [(ngModel)]="name" name="name" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name">Name :</label>
                </td>
                <td>
                    <input type="text" id="name" [(ngModel)]="name" name="name" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email :</label>
                </td>
                <td>
                    <input type="email" id="email" [(ngModel)]="email" name="email" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="message">Message :</label>
                </td>
                <td>
                    <input type="text" id="message" rows="4" [(ngModel)]="message" name="message" required>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>

    <div *ngIf="isSubmitted">
        <table border="1" [cellPadding]="10" [cellSpacing]="0">
            <tr>
                <td>
                    #
                </td>
                <td>
                    <p><strong>Name</strong></p>
                </td>
                <td>
                    <p><strong>Email</strong></p>
                </td>
                <td>
                    <p><strong>Message</strong></p>
                </td>
            </tr>
            <tr *ngFor="let msg of messages; let i = index">
                <td> {{ i + 1}} </td>
                <td>
                    <p><strong>{{ msg.name }}</strong></p>
                </td>
                <td>
                    <p><strong>{{ msg.email }} </strong></p>
                </td>
                <td>
                    <p><strong>{{ msg.message }} </strong></p>
                </td>
            </tr>
        </table>
    </div>
</div>